#cardOuter{
    width: 100vw;
    height: 100vh;
}
#cardInner{
    min-width: 50vw;
    max-width: 70vw;
    /* width: 70vw; */
    min-height: 45vh;
    background-color: #e9f3fe;
    border: solid black 2px;
    box-shadow: 0 0 5px 0;
}
#box2{
    background-color: #e9f3fe;
}
#row1{
    background-color: pink;
    width: 100%;
}
#row2{
    width: 100%;
}
#row3{
    width: 100%;
}
#text1{
    border: solid  #f2f2f2 1px;
    font-weight: bold;
}
#text2,#text3{
    font-weight: bolder;
    /* font-size: 45px; */
}
#time:hover{
    cursor: pointer;
    color:#e58158 !important;
}
#account:hover{
    cursor: pointer;
    color:#e58158 !important;
}